# Python cache
__pycache__/
*.pyc
*.pyo

# Django migrations (ignore except __init__.py)
**/migrations/*.py
!**/migrations/__init__.py

# SQLite (if any)
*.sqlite3

# Environment
.env
venv/
.env/
env/

Montada/media/*

Montada/credentials/*
Montada/credentials/*.json
Montada/logs/django_db.log
Montada/logs/*.log
Montada/runtime/
Montada/bases/*.dat
Montada/bases/**/*.dat
